:root{
    --orange-color:#DA722C;
    --darkblue-color:#023047;
    --dark-color:#070917;
    --light-color:#e8f7fb;
    --light-blue-color:#6f7dfb;
}

*,
*::after
*::before{
    box-sizing: border-boxbody;
}
body{
     
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.wrapper{
    max-width: 1134px;
    margin: 0 auto;
    
}
header{
    background: linear-gradient( 180deg, #8b2929 0%, #26308c 100% );
    height: 100vh;
    width: 100%;
}
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color:white;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.btn.dark{
    background: var(--darkblue-color);
    
}
.btn.light{
    background: var(--orange-color);
}
/* .btn.enroll_icon::before{
     
    position: absolute;
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #4155c252;
    top: 0px;
    left: 0px;
    z-index: 5;
    /* display: block;
     width: 33%;
     margin: 12px auto; */
}
nav .logo{
    font-family: 'Times New Roman', Times, serif;
     
    font-weight: 900;
    font-size: 40px;
     
    color: #ffffff;
    position: fixed;
    left: 190px;
    top: 20px;
     
    z-index: 100;
    
}
nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
     
    margin:  20px 212px 2px 700px;

}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration:underline;
}
.container .left h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: azure;
    margin-top:  200px;
    margin-bottom: 0px;

}
.container{
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
 

.container .left p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 16px;
    color: white;
}
 .container .right img{
    margin-top: 290px;
    
    height: 600px;
    /* vertical-align: middle; */
    margin-right:-150px ;
 }
 .card{
    position: absolute;
 }
 .card .content{
    border-radius: 24px;
    background-color: #fff;
    padding: 8px 32px;
    z-index: 2;
    position: relative;
 }
 .card.students-enrolled{
    left: 44%;
    top: 250px;
     

 }
 .card h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #023047;
    margin: 0px;
    text-align: center;
    width: 100%;
 }
 .card p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 16px;
    color:var(--darkblue-color);
    margin-top: -8px;
    margin-bottom: 8px;
 }
 .card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient( 180deg, #6f7dfb 0%, #3b448f 100%);
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
 }
 .card.overall-rating{
    left: 44%;
    top: 460px;
 }
 .card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
 }
 h2{
    font-family: " poppins",sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #023047;
    margin-bottom: 0px;
    margin-top: 0px;
 }
 h2.light{
    color: white;
 }
 section p {
    font-family: " Raleway",sans-serif;
    font-weight:normal;
    font-size: 20px;
    line-height: 200%;
    color: var(--darkblue-color);
    margin: 12px 0px;
    margin-bottom: 20px;
 }
 
 .testimonial_section{
    display: flex;
    gap: 100px;
    align-items: center;
 }
 .testimonial_section .mobile-btn{
    display: none;
 }
 .testimonial_section .testimonial-card{
    width: 442px;
    background: white;
    box-shadow: 0px 9px 36px rgba(41, 35, 153, 0.2);
    border-radius: 24px;
    margin-bottom: 50px;
    position: relative;

 }
 .testimonial_section .testimonial-card::before{
    content: "";
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 60px;
    background: var(--darkblue-color);
    border-radius: 24px 24px 0px 0px;
 }
 .testimonial_section .testimonial-card:last-child::before{
    left: 40px;
    top: -50px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;
 }
 .testimonial_section .testimonial-card .content{
    font-family: "raleway", sans-serif;
    font-weight: 900px;
    font-size: 18px;
    color: rgb(253, 253, 253);
    border-radius: 24px;
    padding: 24px 32px;
    background: var(--light-blue-color);
 }
 .testimonial_section .testimonial-card:last-child .content{
    background:  rgb(228, 79, 79);
 }
.testimonial_section .testimonial-card .info h4{
    font-family: "raleway", sans-serif;
    font-weight: 900px;
    font-size: 24px;
    color: #26308c;
    margin: 0px;
     
}
.testimonial_section .testimonial-card .info{
    padding: 24px 32px;
    background: white;
}
.testimonial_section .left{
    margin-top: 100px;
}
.testimonial_section .testimonial-card .info p.company{
    font-family: "raleway",sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #26308c;
}
.testimonial_section .testimonial-card  img{
    height: 120px;
    width: 120px;
    position: absolute;
    right: 32px;
    bottom: 20px;
}
.testimonial_section .testimonial-card:last-child{
    transform: translateX(20px);
}
.testimonial_section .features{
    margin-bottom: 50px;
}
.courses{
    background: linear-gradient(180deg, skyblue 0%, blue 100%);
    padding: 60px 0px;
    padding-bottom: 100px;
     
}
.courses h2{
    text-align: center;
}
.courses .course_cards{
    display:flex;
    gap: 72px;
}
.courses .course_cards img{
      width: 100%;
      border-radius: 24px;
      filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}
.courses .course_card{
    background: white;
    border-radius: 24px;
    padding: 0px 32px;
    margin: 24px 0px;
    position: relative;
}
.courses .course_card::after{
    content: "";
    height: 8px;
    left: 32px;
    position: absolute;
    right: 32px;
    bottom: 0;
    background: var(--darkblue-color);
    border-radius: 24px;
}
.courses .course_card h3{
    font-family: "raleway",sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: var(--darkblue-color);
}
.courses .course_card .info{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.courses .course_card .duration{
    font-family: "raleway", sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: var(--darkblue-color);
    white-space: nowrap;
    padding: 20px;
}
/* .courses .course_card .duration::before{
    content: url("");
    position: absolute;
    top: 2px;
    left: -6px;
}
  */
  .courses .wrapper{
    position: relative;
  }
  .courses .wrapper .btn{
    position: absolute;
    right: 0;
  }
  .app-section{
    text-align: center;
    margin-bottom: 0px;

  }
  .app-section .app-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 24px;
  }
  .app-section .app-btn{
    padding: 12px 30px;
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
  }
.app-buttons img{
    height: 50px;
}
.app-section .app-btn span{
    font-family: "poppins",sans-serif;
    font-weight: normal;
    font-size: 20px;
}
.app-section{
    background: #a2a8dc;
    height: 45vh;
    
}